.manage-profile {
    margin-top: 110px;
    margin-bottom: 160px;
    height: 100vh;

    .card {
        max-width: 500px;
    }

    .avatar-container {
        margin-bottom: 20px;
    }

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #ffc10e;
        object-fit: cover;
    }

    .form-custom {
        border: 2px solid #3ac4d3;
        padding: 10px 15px;
        border-radius: 0.375rem;
        width: 100%;
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
    }

    .btn {
        padding: 10px;
        background-color: #3ac4d3;
    }

    .btn:hover {
        background-color: #00b6ca;
    }
}