.calendar-detail-customer-page {
    .btn-back button {
        font-size: 20px;
        margin-top: 20px;
        color: darkblue;
    }

    .booking-container {
        max-width: 1200px;
        margin: auto;
        padding-top: 20px;
        display: flex;
        gap: 24px;

        .summary-section {
            position: none;
            height: 100%;
        }

        .booking__infor {
            background-color: #f6f8fa;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: none;
            gap: 16px;
            padding: 30px;

            p {
                font-weight: bold;
            }
        }

        .booking-info {
            flex: 1;
        }

        .booking-header {
            display: flex;
            justify-content: space-between;

            .notifi {
                padding: 10px;
                border-radius: 15px;
            }
        
            .success-notifi {
                color: green;
                border: 1px solid #43A047;
                background-color: #E8F5E9;
            }
        
            .error-notifi {
                color: red;
                border: 1px solid #E53935;
                background-color: #FFEBEE;
            }
        }

        .title {
            font-size: 24px;
            font-weight: 700;
            padding-top: 10px;
        }

        .mt-30 {
            margin-top: 30px;
        }

        .form-control-method {
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .order-summary {
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            margin: 20px 0;
            padding: 20px 0;
        }

        .summary-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .total-price,
        .total-price-booked,
        .quantity__adults,
        .quantity__children,
        .quantity__adults-booked,
        .quantity__children-booked {
            font-weight: bold;
        }

        .booking-btn {
            width: 100%;
            padding: 15px;
            background-color: var(--secondary-color);
            color: white;
            font-weight: 700;
            font-size: 1.1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .summary-section {
            padding: 16px;
            box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.08);
            position: sticky;
            top: 80px;
            z-index: 99;

            .tour-info {
                .title {
                    font-size: 20px;
                }

                span {
                    float: right;
                }
            }

            #total-cost {
                color: red;
                font-weight: bold;
            }
        }

        .confirm,
        .paid {
            color: green;
        }

        .cancel,
        .unpaid {
            color: red;
        }

        .pending {
            color: #e5af10;
        }

        .inactive {
            background-color: #f3d5b1 !important;
            cursor: not-allowed;
            pointer-events: none;
        }

        .inactive-cancel {
            background-color: rgb(241, 175, 175) !important;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .booking-container .booking-header {
            display: block !important;
        }
    }

    @media (max-width: 767px) {
        .container {
            max-width: 1000px !important;
        }

        .booking-container {
            flex-direction: column;

            .booking-header {
                display: block !important;
            }
        }

        .booking-summary {
            width: 100% !important;
            margin-top: 20px;
        }
    }

    @media (max-width: 480px) {
        .booking-container .user_info {
            display: block !important;
        }
    }
}