@media print {
    .page-saoviet .no-print {
        display: none !important;
    }
}

.page-saoviet .hide {
    display: none;
}

.page-saoviet table th {
    vertical-align: middle;
}

.page-saoviet .btn-back {
    background-color: #d3d3d3;
}

.page-saoviet .btn-back:hover {
    background-color: #aaaaaa;
}