.login-manage-page {
    .container {
        max-width: 70% !important;

        .bg-custom {
            background-color: #f5f5f5 !important;
        }
    }

    .row {
        --bs-gutter-y: 0px !important;
    }

    .left-box {
        background: #1087be;

        img {
            width: 280px;
            height: 200px;
            border-radius: 10px;
        }

        p {
            font-weight: 600;
        }

        small {
            width: 20rem;
        }
    }

    .right-box {
        .input-group {
            display: block;

            p {
                margin-bottom: 0.5rem !important;
            }

            input {
                width: 100%;
                border-radius: 7px !important;
                height: 50px !important;
            }
        }

        .header-text h2 {
            font-size: 42px !important;
        }
    }

    @media only screen and (max-width: 992px) {
        .left-box {
            padding-bottom: 10px;
            margin-bottom: 15px;
            width: 100%;
        }

        .right-box {
            width: 100%;
        }
    }

    @media only screen and (max-width: 576px) {
        .left-box {
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
    }
}