.header-custom {
    position: sticky !important;
    top: 0;
    z-index: 1000;

    .title {
        color: #ffc10e;
        height: 100%;
    }

    .logo {
        text-align: center;

        img {
            width: 60px;
            border-radius: 50%;
        }
    }

    .mobile-logo {
        img {
            width: 40px;
            border-radius: 50%;
        }
    }

    .navigation a {
        text-decoration: none !important;
    }

    .navigation .active {
        background-color: #45C3D2 !important;
        color: white !important;
        border-radius: 25px;
    }

    .nav-search {
        .btn-2-custom {
            outline: none;
            box-shadow: none;
            border: none;
        }
    }

    .calendar {
        .booking-count {
            position: absolute;
            top: 7px;
            right: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            font-size: 12px;
            font-weight: 600;
            border-radius: 50%;
            background-color: #dc3545;
            color: #fff;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        }
    }

    .dropdown-menu {
        margin-left: -88px;
        z-index: 1100;
        text-align: center;

        .dropdown-item:hover {
            font-weight: bold;
        }
    }

    .search-dropdown {
        z-index: 1200;
    }

    .nav-search .btn-custom {
        border: 1px solid black !important;
    }

    .navbar-header .navbar-toggle {
        float: left !important;
    }

    @media (min-width: '991px') {
        .calendar .booking-count {
            top: 11px;
        }
    }
}