.search-form-custom {
    left: 50%;
    transform: translate(-50%, 0);

    [data-aos="move-up-zoom-out"] {
        transform: translateY(0) scale(1.2);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    [data-aos="move-up-zoom-out"].aos-animate {
        transform: translateY(-80px) scale(1);
        opacity: 1;
    }

    .sub-form {
        max-width: 1300px;
    }

    .form-select,
    .datetimepicker-custom {
        outline: none;
        box-shadow: none;
        border: none;
    }

    .div-custom {
        border-right: 1px solid #E9E9E9;
        padding-left: 30px;
    }

    .div-custom label {
        width: 100%;
    }

    .btn-custom {
        background-color: #45C3D2;
        max-width: 150px;
        height: 45px;
    }

    @media only screen and (max-width: 992px) {
        .div-startdate {
            border-right: none !important;
        }
    }

    @media only screen and (max-width: 767px) {
        .div-custom {
            border-right: none;
        }
    }
}