.customer-manage-page {
    table {
        font-size: 15px;
        text-align: center;

        button {
            margin: 0;
            border: none;
            background-color: transparent;
        }
    }

    .x_title h2 {
        font-weight: bold;
    }

    .form-search {
        float: right;
        padding: 10px 0;

        input {
            padding: 8px 13px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 5px;
            font-size: 14px;
            transition: border-color 0.3s;
            max-width: 81%;
        }

        input:focus {
            border-color: #34b7c6;
            outline: none;
        }

        button {
            padding: 8px 10px;
            background-color: #34b7c6;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease, transform 0.2s;
        }

        button:hover {
            background-color: #0052a3;
            transform: translateY(-2px);
        }
    }

    .activate {
        color: green;
    }

    .inactivate {
        color: #ffc107;
    }

    .blocked {
        color: red;
    }
}