.step-2 {
    .upload-custom {
        border: 2px solid #7e7e7e;
        border-radius: 5px;
        width: 100%;
        min-height: 200px;
        margin: 5px;
        padding: 10px 0;

        img {
            object-fit: contain;
            width: 100%;
            height: 120px;
        }

        .col-md-3 {
            display: flex;
            flex-direction: column;
            gap: 5px;

            button {
                width: 100%;
                color: white;
                background-color: red;
                border: none;
                border-radius: 3px;
                padding: 5px 0;
            }
        }
    }

    .msg-error {
        color: red;
        font-size: 15px;
        padding-top: 5px;
    }

    .btn-control {
        text-align: center;

        button {
            border: none;
            font-weight: bold;
            color: white;
            background-color: #f6c83f;
            padding: 8px 20px;
        }

        button:hover {
            background-color: #ffbf00;
        }
    }

    .footer-buttons .btn-primary {
        pointer-events: none;
        opacity: 0.6;
        cursor: not-allowed;
    }
}