*:not(i) {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    padding: 0;
}

#root * {
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;

    .text-indent {
        text-indent: 16px;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .bg-red {
        background-color: red;
    }

    .bg-yellow {
        background-color: #ffc10e;
    }

    .float-right {
        float: right;
    }

    .color-red {
        color: red !important;
    }

    .ellipsis {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .color-green {
        color: green;
    }
}