.tour-sidebar-custom {
    .div_filter_clear {
        display: flex;
        justify-content: end;

        .clear_filter {
            background-color: red;
            border-radius: 8px;
            padding: 2px 20px;
            color: white;
        }
    }
}