.register-page {
    .container {
        div {
            max-width: 50% !important;

            .form-floating {
                max-width: 100% !important;
            }

            .form-control {
                border-radius: 7px !important;
            }

            a {
                text-decoration: none;
                color: blue !important;
            }

            #back {
                float: right;
            }
        }

        .bg-custom {
            background-color: #f5f5f5 !important;
        }

        .row > * {
            margin-top: 0 !important;
        }

        @media only screen and (max-width: 992px) {
            div {
                max-width: 65% !important;
            }
        }

        @media only screen and (max-width: 576px) {
            div {
                max-width: 90% !important;
            }
        }
    }
}